:root {
    --black:rgb(16, 32, 64);
    --grey-contour: rgb(121, 117, 136);

    --blue-main:rgb(19, 117, 233);
    --blue-bg: rgb(211, 221, 238);
    --blue-grey: rgb(177, 184, 233);

    --green-main: rgb(17, 175, 83);
    --green-bg: rgb(195, 230, 199);
    --green-grey: rgb(156, 199, 160);

    --yellow-main: rgb(225, 228, 10);
    --yellow-bg: rgb(246, 247, 199);
    --yellow-grey: rgb(191, 192, 160);

    --red-main: rgb(235, 20, 20);
    --red-bg: rgb(235, 207, 207);
    --red-grey: rgb(165, 153, 153);

    --pink-main: rgb(237, 60, 140);
    --pink-bg: rgb(229, 180, 202);
    --pink-grey: rgb(171, 156, 162);

    --turquoise-main: rgb(22, 214, 232);
    --turquoise-bg: rgb(210, 240, 243);
    --turquoise-grey: rgb(160, 183, 185);

    --orange-main: rgb(231, 129, 45);
    --orange-bg: rgb(243, 224, 208);
    --orange-grey: rgb(180, 170, 162);

    --violet-main: rgb(188, 45, 227);
    --violet-bg: rgb(230, 202, 238);
    --violet-grey: rgb(174, 165, 176);

    --sb-width: 180px;
    --sb-collapsed-width: 40px;
    --h1-size: 32px;
    --h2-size: 26px;
    --p-size: 14px;
    --sb-list-size: 18px;
    --round-btn-size: 26px;
    --icon-size: 24px;

    --table-item-font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    color: var(--black);
    font-size: var(--p-size);
    font-family: 'Outfit', sans-serif;
}

.blue-main {
    background-color: var(--blue-main);
}

.green-main {
    background-color: var(--green-main);
}

.yellow-main {
    background-color: var(--yellow-main);
}

.red-main {
    background-color: var(--red-main);
}

li {
    list-style: none;
}

.rotate-90 {
    transform: rotate(-90deg);
}

#root {
    display: flex;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.sb-spaceholder {
    padding: 0 20px;

    width:var(--sb-width);
    flex-shrink: 0;
    
}

.sb {
    padding: 0 20px;
    width: var(--sb-width);
    position: fixed;
    z-index: 100px;
    top: 0px;
    bottom: 0px;
    background-color: var(--blue-bg);
    border-right: 1px solid var(--grey-contour);
}

.sb-collapsed {
    margin: 0;
    padding: 0;
    width: var(--sb-collapsed-width);
}

.flex-grow-1 {
    flex-grow: 1;
}

.sb-form input {
    padding: 0.5em 0.2em 0.2em 0.5em;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    font-size: 1em;

    border: 1px solid var(--grey-contour);
    border-radius: 6px;
}

.sb-list-item {
    padding: 0.3em 0 0.2em 0.5em;
    gap:1px;

    border-radius: 4px;
    font-size: var(--sb-list-size);
}

.sb-list-item:hover {
    cursor: pointer;
    background-color: var(--blue-grey);
}

.sb-list-item .icon {
    margin-right: 5px;
    opacity: 0;
}

.sb-list-item:hover .icon {
    opacity: 1;
}

.sb-list-item:hover .icon:hover {
    border: 1px solid black;
    border-radius: 2px;
}

.sb-list-active {
    background-color: aliceblue;
}

.board-header {
    margin-left: calc(var(--sb-width) + 60px);
    position: fixed;
    left: 0px;
    right: 0;
    min-height: 20px;
    background-color: white;
}

.board-header-collapsed {
    margin-left: calc(var(--sb-collapsed-width) + 50px);
}

.h1 {
    font-size: var(--h1-size);
}

#board {
    position: relative;
    padding-left: 20px;
    height: 100vh;
    margin-left: 20px;
    overflow: auto;
}

.board-header-name, .board-header-descr {
    margin-right: 100px;
    border: none;
}

.board-header-name {
    
    font-size: var(--h1-size);
    font-weight: bold;
}

.board-header-descr {
    cursor: pointer;
    font-size: var(--p-size);
}

main {
    padding-top: 140px;
}

#sidebar-settings-btn {
    margin-bottom: 4px;
    flex-basis: 50px;
}

#header-count {
    height: 1em;
    padding-bottom: 4px;
    font-weight: bold;
    color: var(--grey-contour);
    border-bottom: 1px solid var(--grey-contour);
}

.sb-toggle-btn {
    position: absolute;
    top: 35px;
    height: var(--round-btn-size);
    width: var(--round-btn-size);
    border-radius: 50%;
    border: 1px solid var(--grey-contour);
    cursor: pointer;
    background-color: white;
    
}

.header-buttons {
    justify-content: space-between;
    align-items: center;
}

.blue-main-font {
    color: var(--blue-main);
}

.btn-main {
    padding: 4px 10px;
    margin: 4px 0; 
    border-radius: 6px;
    color:aliceblue;
    font-weight: lighter;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    padding: 2px 5px;
    background-color: white;
    border: none;
    cursor: pointer;
}


.btn-secondary:hover {
    box-shadow: 0 3px var(--blue-grey);
}

.group-buttons .btn-secondary {
    margin-top: 10px;
    opacity: 0;
}

.group:hover .group-buttons .btn-secondary {
    margin-top: 8px;
    opacity: 0.5;
}

.group:hover .group-buttons .btn-secondary:hover {
    opacity: 1;
}

#groups-conteiner {
    width: 100%;
}

.group-panel {
    margin-left: 0px;
    gap: 10px;
}

.group-options-btn {
    margin-top: 4px;
    background-color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: var(--p-size);
    color: var(--black);
    opacity: 0;
}

.group-options-btn .active {
    background-color: var(--blue-bg);
}

.group-options-btn .icon {
    margin-top: 5px;
    width: 22px;
    height: 16px;
}

.group:hover .group-options-btn {
    opacity: 1;
}

.group-options {
    min-width: 90px;
    
}


.group-collapse-btn {
    margin-top: 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: var(--p-size);
    color: var(--black);
}

.group-panel button {
    width: fit-content;
    height: fit-content;

}

.group-title, .group h2 {
    font-weight: normal;
    font-size: var(--h2-size);
    width:fit-content;
    max-width: 300px;
    border: none;
}

.group, .group-collapsed {
    margin-bottom: 10px;
    padding: 10px 0 20px 10px;
}

.group-collapsed {
    cursor: pointer;
    margin-right: 20px;
    border-radius: 10px;
}

.group-collapsed:hover {
    box-shadow: 10px 10px var(--blue-bg);
}

.table {
    margin-top: 6px;
    border-radius: 6px 0 0 6px;
    border-left: 8px solid var(--blue-main);
}

.table-header .table-section{
    user-select: none;
}

.table-section {
    flex-shrink: 0;
    min-width: 110px;
    height: 1.5em;
    text-align: center;
    font-size: var(--table-item-font-size);
    border: 1px solid var(--grey-contour);
    border-right: none;
    border-bottom: none;

}

.table-section div, .item .table-section {
    padding: 0;
    font-size: var(--table-item-font-size);
}

.item input {
    margin: 2px 6px 2px 10px;
    padding-left: 5px;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;

    font-size: var(--table-item-font-size);
    text-overflow:ellipsis;
}

.item:hover input {
    background-color: var(--blue-bg);
    border: 1px solid var(--blue-bg);
}

.item input:hover {
    border: 1px solid var(--grey-contour);
}

.divider {
    width: 6px;
    cursor: e-resize;
    background-color: var(--blue-bg);
    opacity: 0;
}

.divider:hover {
    opacity: 1;
}

.last {
    min-width: 90px;
    flex-grow: 1;
    text-align: left;
}

.add-plus-btn {
    margin: 1px 0 0 2px;
    padding: 2px 10px 2px 0;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 12%;
    font-size: var(--p-size);
}

.add-plus-btn-active {
    box-shadow: 0 5px 2px var(--blue-bg);
}

.board-menu {
    position: absolute;
    padding: 6px;
    z-index: 100;
    width: fit-content;
    transform: translateX(-4px);
    box-shadow: 0 0 15px var(--grey-contour);
    border-radius: 4px;
    background-color: white;
    list-style-type: none;
}

.board-menu li {
    padding: 4px 4px 0;
    text-transform: capitalize;
}

.board-menu li:hover {
    text-shadow: 2px 2px 1px var(--blue-bg), -2px -2px 1px var(--blue-bg);
    cursor: pointer;
}

.add-item {
    font-size: var(--table-item-font-size);
    padding: 4px 2px;
    min-width: 260px;
    border-top: 1px solid var(--grey-contour);
    border-bottom: 1px solid var(--grey-contour);

    background-color: var(--blue-bg);
}

.add-item input {
    margin-left: 12px;
    padding-left: 6px;
    margin-right: 100px;
}

.item .table-section {
    text-align: left;
}

.item:hover {
    background-color: var(--blue-bg);
    cursor: pointer;
}

.group-theme-menu {
    position: absolute;
    background-color: white;
    padding: 6px;
    box-shadow: 0 0 20px var(--grey-contour);
    gap: 10px;
    border-radius: 6px;
}

.theme-picker {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid var(--grey-contour);
}

.cell-status {
    color: white;
    justify-content: center;
    cursor: pointer;
}

.status-list {
    position: relative;
    background-color: white;
    gap: 1px;
}

.cell-main-comments {
    flex-shrink: 0;
    border-left: 1px solid var(--grey-contour);
}

.comments-icon {
    font-size: 20px;
    padding: 0 30px;
}

.table-section-main {
    justify-content: space-between;
    min-width: 110px;
    height: 1.5em;
    text-align: center;
    font-size: var(--table-item-font-size);
    border: 1px solid var(--grey-contour);
    border-right: none;
    border-bottom: none;
}

.table-section-main form {
    flex-shrink: 1;
}

.table-section input {
    margin-right: 40px;
}

.item-window {
    position: absolute;
    padding: 6px;
    width: 500px;
    height: 400px;
    background-color: white;
    z-index: 200;
    box-shadow: 0 0 15px var(--grey-contour);
    border-radius: 4px;
    background-color: white;
    list-style-type: none;
}

.item-window-header {
    user-select: none;
    cursor:grab;
}

.new-note-form textarea {
    padding: 0.4em;
    resize: vertical;
    max-height: 300px;
    min-height: 30px;
}

.new-note-form input {
    padding: 0.1em 0.4em;
}

.item-notes {
    overflow: auto;
}

.menu {
    position: absolute;
    padding: 6px;
    width: fit-content;
    background-color: white;
    z-index: 200;
    box-shadow: 0 0 15px var(--grey-contour);
    border-radius: 4px;
    background-color: white;
    list-style-type: none;
}

.menu li:hover {
    cursor: pointer;
    text-shadow: 0px 0px 3px var(--grey-contour);
}
